In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv('netflix.csv')

data.head(10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [3]:
data.tail(10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
990,My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [4]:
data.isnull()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False
996,False,False,False,False,False,True,False
997,False,False,False,False,False,True,False
998,False,False,False,False,False,True,False
999,False,False,True,False,False,False,False

In [5]:
data.isnull().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [6]:
data.notnull().sum()

title                1000
rating               1000
ratingLevel           941
ratingDescription    1000
release year         1000
user rating score     605
user rating size     1000
dtype: int64

In [7]:
data.shape

(1000, 7)

In [8]:
data.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [9]:
type(data)

pandas.core.frame.DataFrame

In [10]:
# In checking locations, Ratings columns has no space so written as data.rating .
# In release year has space so written as data["release year"]

data.loc[(data.rating =='PG-13') & (data["release year"] == 2011)]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
273,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82
322,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82

In [11]:
data.loc[ (data.rating =='PG-13') & (data["user rating score"] >= 80) ]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
250,The Waterboy,PG-13,language and some crude sexual humor,80,1998,82.0,80
257,Twilight,PG-13,some violence and one sexual scene,80,2008,89.0,80
300,The Waterboy,PG-13,language and some crude sexual humor,80,1998,82.0,80
306,Twilight,PG-13,some violence and one sexual scene,80,2008,89.0,80

In [12]:
data.loc[(data.rating =='PG-13'),('title','ratingLevel')]

,title,ratingLevel
0,White Chicks,"crude and sexual humor, language and some drug..."
250,The Waterboy,language and some crude sexual humor
251,10 Things I Hate About You,"adult content, adult language and mild violence"
253,How to Lose a Guy in 10 Days,some sex-related material
254,The Benchwarmers,"crude and suggestive humor, and for language"
255,Step Up,"thematic elements, brief violence and innuendo"
257,Twilight,some violence and one sexual scene
273,Mean Girls 2,"For some rude and suggestive material, and for..."
286,Safe Haven,thematic material involving threatening behavi...
300,The Waterboy,language and some crude sexual humor
302,The Wedding Planner,language and some sexual humor
306,Twilight,some violence and one sexual scene
322,Mean Girls 2,"For some rude and suggestive material, and for..."
335,Trouble with the Curve,Parents strongly cautioned. May be inappropria...
372,Unconditional,some violent content and mature thematic elements

In [13]:
# iloc [rows, columns]


data.iloc[2:7 , 0:2]

                   title rating
2         Grey's Anatomy  TV-14
3           Prison Break  TV-14
4  How I Met Your Mother  TV-PG
5           Supernatural  TV-14
6           Breaking Bad  TV-MA

In [14]:
data.iloc[7 ,2]

'Parents strongly cautioned. May be unsuitable for children ages 14 and under.'

In [15]:
data.iloc[0:4 ,:-1]

,title,rating,ratingLevel,ratingDescription,release year,user rating score
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0

In [16]:
data.describe()

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000

# Cleaning Data [Removing Null Values & Filling New Values]

In [17]:
data.isnull().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [18]:
data['user rating score'].mean()

84.09421487603306

In [19]:
# Replace Values with Rounding off main value 84.
# df['column name'].replace(['old value'],'new value', inplace= True)
# np.nan REPRESENTS NULL Value, 'NaN'

data['user rating score'].replace(np.nan, 84, inplace= True)

In [20]:
data.isnull().sum()

title                 0
rating                0
ratingLevel          59
ratingDescription     0
release year          0
user rating score     0
user rating size      0
dtype: int64

In [22]:
data['ratingLevel']

0      crude and sexual humor, language and some drug...
1      strong violence, sexual content and adult lang...
2      Parents strongly cautioned. May be unsuitable ...
3      Parents strongly cautioned. May be unsuitable ...
4      Parental guidance suggested. May not be suitab...
                             ...
995    for action/peril, some scary moments and brief...
996                       for action and some rude humor
997                               Suitable for all ages.
998                               Suitable for all ages.
999                                                  NaN
Name: ratingLevel, Length: 1000, dtype: object

In [23]:
data['ratingLevel'].replace(np.nan, 'Not Rated', inplace= True)

In [24]:
data['ratingLevel']

0      crude and sexual humor, language and some drug...
1      strong violence, sexual content and adult lang...
2      Parents strongly cautioned. May be unsuitable ...
3      Parents strongly cautioned. May be unsuitable ...
4      Parental guidance suggested. May not be suitab...
                             ...
995    for action/peril, some scary moments and brief...
996                       for action and some rude humor
997                               Suitable for all ages.
998                               Suitable for all ages.
999                                            Not Rated
Name: ratingLevel, Length: 1000, dtype: object

In [25]:
data.isnull().sum()

title                0
rating               0
ratingLevel          0
ratingDescription    0
release year         0
user rating score    0
user rating size     0
dtype: int64